.divider1-outside{
    width:100%;
    display: table;
    height: 108px;
    background-color: #444;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.divider1-inside{
    width:100%;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}


.divider1-inside h2{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}


#divider1-span{
  font-weight: 600;
  border-bottom: 2px solid #EEE;
}

.fa-caret-right{
  font-size: 28px;
  margin-left: 12px;
}

.divider1-outside:hover{
    background-color: #1ABC9C;
}
